*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    border: 1px solid black;
    max-width: 800px;
    margin: 0 auto;
}

header{
    height: 100px;
    background: rgb(204, 204, 204);
    display: flex;
    align-items: center;
}

header h1{
    padding-left: 20px;
}

aside{
    display: flex;
}

aside input[type="text"]{
    border: 1px solid black;
    height: 20px;
    width: 100%;
    margin: 20px;
    border-radius: 3px;
    padding: 8px;
}

main{
    display: flex;
    
}

main section{
    margin: 10px;
}

figure{
    position: relative;
}

figure figcaption{
    position: absolute;
    bottom: 4px;
    height: 60px;
    width: 100%;
    background: black;
    color: white;
    opacity: 70%;
}

figure figcaption p{
    color: white;
    padding: 10px;
}

summary{
    border: solid 1px black;
    background: grey;
}

ul li{
    list-style: none;
}

footer{
    background: black;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p{
    color: white;
    
}